.dropdown {

    overflow: hidden;
    max-height: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    min-width: 300px;
    background-color: @bgrLight;
    list-style-type: none;
    .boxShadow();
    
    transition: opacity .15s ease-in-out 0s, max-height .01s linear .2s;
  
    padding:0;
    margin: 0;
    

    
    &.main-nav-dropdown {
        top:@globalNavHeight;
    }
    
    .dropdown-item {
        border-bottom: 1px solid @borders;
        height: @dropdownItemHeight;
        .dropdown-link {
            display: inline-block;
            height: @dropdownItemHeight;
            line-height: @dropdownItemHeight;
            font-size: @dropdowFontSize;
            font-weight: @dropdownFontWeight;
            width: 100%;
            box-sizing: border-box;
            padding: 0 @padding;
            color: @textGray;
            &:hover {
                color: darken(@link, 10%);
                text-decoration: none;
            }
            
        }
        &.active {
            .dropdown-link {
                color: @borders ;     
            }
        }
        
        &.inbox-messages {
            max-height: (@inboxDropDownHeight + (@inboxMessageHeight - 10) + 60);
            height: auto;
            font-size: @fontSize;
            line-height: @lineHeight;
        }
    }
    
}

li:hover {
    .dropdown {
        opacity: 1;
        max-height: 1000px;
        transition: opacity .25s ease-in-out .1s, max-height 0.01s linear 0.01s;
    }
}

.option-button {
    .dropdown {
        z-index: 50;
        border: 1px solid @borders;
        box-shadow: none;
        min-width: 150px;
        width: auto;
        .dropdown-item {
            border-bottom: none;
            height: @optButtonItemHeight;
            .dropdown-link {
                height: @optButtonItemHeight;
                line-height: @optButtonItemHeight;
                padding: 0 @padding 0 (@padding/2);
                white-space: nowrap;
                &:hover {
                    color: @textGray;
                    background-color: @bgr;
                }
            }
        }
    }
}
