
//FORMS
.control-row {
    display: block;
}
.form-spacer {
    border-bottom: 1px solid @borders;
    text-align: center;
    padding: 0;
    margin-bottom: 20px;
    span {
      background-color: @cardBgr;
      padding: 0 10px;
      position: relative;
      top: 10px;
        color: @borders;
    }
}
.control-group {
    font-size: @fontSize;
    margin: 0 (@padding/4);
    &:first-child {
        margin-left: 0;
    }
    &:last-child {
        margin-right: 0;
    }
    label {
        display: block;
    }
    label + .control {
        margin-left: 0;
    }
    
}
.control {
    display: inline-block;
    position: relative;
    padding-bottom: (@padding/4);
    margin-left: (@padding/4);
    font-size: @fontSize;
    
    .error-msg {
        font-size: 12px;
        font-style: italic;
    }
    &.full {
        margin-left: 0;
        input[type="text"],input[type="password"], input[type="email"],textarea, select {
            width: 100%;
        }
    }

    .control-help-text {
        position: absolute;
        bottom: 0;
        font-size: @helpTextFontSize;
        font-style: italic;
        color: @helpTextColor;
        font-weight: 300;
        &.block {
            position: relative;
        }
        &.center {
            text-align: center;
        }
        a {
            color: @textDark;
        }
    }

    input {
        height: @inputHeight;
        box-sizing: border-box;
        padding: 0 (@padding/4);
        border: 1px solid @borders;

    }
    .select {
        display: block;
        height: 40px;
        padding: 0 (@padding/4);
        background-color: @textLight;
        appearance: none;
        -webkit-appearance: none;
        border-radius: 0;
        border: 1px solid @borders;
        background-image: url(/static/img/select.svg);
        background-position: top right;
        background-repeat: no-repeat;
    }
    .button.search-button {
        width: 40px;
        overflow: hidden;
        text-indent: -9000px;
        background-image: url(/static/img/search-button.svg);
        &:hover {
            background-color: @link;
        }
    }
    .search-input + .search-button {
        margin-left: -5px;
    }
    
    &.inline {
        display: block;
        margin-left: 0;
         border-bottom: 1px solid @borders;
        padding: (@padding/4) 0 (@padding/4);
          white-space: nowrap;
        label {
            display: inline-block;
            width: 30%;
            vertical-align: top;
            line-height: @inputHeight;
            margin: 0;
            .label-help {
                font-size: @fontSize;
                line-height: @lineHeight;
                padding-top: (@padding/4);
                padding-bottom: (@padding/4);
                
            }
            .control-help-text {
                position: relative;
                display: block;
            }
        }
        
        &:first-child {
            padding-top: 0;
            margin-top: -10px;
        }
        
        
        
    }
    
    .checkboxes {
        display: inline-block;
        min-height: @inputHeight;
        white-space: nowrap;
        .checkbox-label {
            white-space: nowrap;
            display: inline-block;
            line-height: @inputHeight;
            vertical-align: top;
            margin-right: (@padding/2);
            font-weight: @regularText !important;
            
            input {
                height: auto;
                margin-right: (@padding/8);
            }
            
        }
        .link {
            display: inline-block;
            width: 50%;
            margin: 0;
            color: @textDark;
            font-size: @helpTextFontSize;
            line-height: (@padding);
        }
        
        &.two-cols {
            display: block;
            white-space: normal;
            .checkbox-label {
                display: inline-block;
                width: 50%;
                margin: 0;
                line-height: (@padding*0.75);
            }
           
        }
    }
    .textarea {
        display: inline-block;
        width: 70%;
        padding-top: (@padding/4);
        padding-bottom: (@padding/4);
        textarea {
            display: block;
            border: none;
            width: 100%;
            box-sizing: border-box;
        
             outline: none;
        }
    }
}

.search-header-input {
    background-color: transparent;
    border-color: transparent;
    border-bottom: 1px dashed @borders;
    outline: none;
    box-sizing: border-box;
    padding: 0 @inputPadding;
}
